
.skip-link {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
}

.skip-link: focus{
  width: unset;
  height: unset;
  position: relative;
  padding: unset;
  margin: unset;
  font-size: 2rem;
}

html {
  font-size: 20px;
}

body {
  margin: 0px;
	background-color: #CFECEC;
  padding: 1em;
}

main {
  width: 90%;
  max-width: 1000px;
  background: #FFF;
  border-radius: 1rem;
  padding: 1rem 2 rem;
  box-sizing: border-box;
  margin: 1rem auto;
}

  /*beginning updated nav and ul, ol*/
nav {
  color:;
  background-color: ;
}

h1{
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

h2{

  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

h3{

  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;	
}
p {
  font-family: "Roboto Condensed", serif;
  font-weight: 100;
  font-style: normal;

}

.home-image {
  max-width: 800px;

}

.home-image img{
  max-width: 100%;
  
}

img {

  width: 100%;
}

.list-item{
  display: flex;
  flex-wrap:wrap;*/
  box shadow: insert 1rem 1rem gold;
  border-radius: 3px;


}

.list-item h2{


}




/*When the browser is at least 800px wide*/
@media (min-width: 800px) {

  .image-holder {
    width: calc(100% - 250px);
  }

  nav li {
    width: 25%;
  }
}